<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @question.subject %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<%= form_for "", :url => create_question_comment_questions_path, :method=>:post do |f| %>
    <%= f.hidden_field "id", :value => @question.id %>
    Give me your comment : <%= f.text_area "comment_content" %><br>
    <%= f.submit %>
<% end %>

<p>
  <strong>Comments: </strong><br>
  <% @all_comments.each do |comment| %>
  	<% @user = User.find(comment.user_id) %>
    <%= comment.body %> by <%= @user.first_name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
