<h1>Listing disussion_forums</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Question</th>
      <th>Details</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @disussion_forums.each do |disussion_forum| %>
      <tr>
        <td><%= disussion_forum.subject %></td>
        <td><%= disussion_forum.question %></td>
        <td><%= disussion_forum.details %></td>
        <td><%= link_to 'Show', disussion_forum %></td>
        <td><%= link_to 'Edit', edit_disussion_forum_path(disussion_forum) %></td>
        <td><%= link_to 'Destroy', disussion_forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disussion forum', new_disussion_forum_path %>
