<%= form_for(@listing, :html => { :multipart => true }) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable"  >
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :university %><br>
    <%= f.text_area :university, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :degree_subject %><br>
    <%= f.text_field :degree_subject, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :graduation_year %><br>
    <%= f.text_area :graduation_year, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :teaching_subject %><br>
    <%= f.text_field :teaching_subject, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_area :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :about_myself %><br>
    <%= f.text_field :about_myself, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :tutoring_approach %><br>
    <%= f.text_area :tutoring_approach, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :teaching_experience %><br>
    <%= f.text_field :teaching_experience, class: "form-control" %>
  </div>     
  <div class="form-group">
    <%= f.label :extracurricular_interests %><br>
    <%= f.text_area :extracurricular_interests, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>  
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit, class: "btn btn-success" %>
  </div>
<% end %>
