<div class="row">
	

	<div class="col-md-2">
		<div class="thumbnail">	
			<a href="/listings/<%= @listing.id %>">
				<div class="image-photo" style="background-image: url('<%= @listing.image.url %>'); width: 150px; background-size: 100%; height: 150px;">
				</div>
			</a>
		</div>
	</div>	
	<div class="col-md-8">
		<h3><%= @listing.user.first_name %></h3>		
		<p>University: <%= "#{@listing.university}" %> &nbsp;|&nbsp; Degree Subject: <%= "#{@listing.degree_subject}" %> &nbsp;|&nbsp; t('location'): <%= "#{@listing.location}" %></p>
		<p><b>Teaching Subject:</b> <%= "#{@listing.teaching_subject}" %></p>				
		<p>Tutorial Type: <%= "#{@listing.tutorial_type}" %></p>

		<div class="star-rating" data-score= <%= @avg_rating %> ></div>
		<p><%= "#{@reviews.length} reviews" %></p>

	</div>	
</div>

<div class="row">	
	<div class="col-md-8">
		<p><h3>About Myself</h3><%= "#{@listing.about_myself}" %></p>
		<p><h3>Tutoring Approach</h3><%= "#{@listing.tutoring_approach}" %></p>
		<p><h3>Teaching Experience</h3><<%= "#{@listing.teaching_experience}" %></p>		
		<p><h3>Extracurricular Interests</h3><%= "#{@listing.extracurricular_interests}" %></p>
		<br>
		<div class="centre">
			<%= link_to "Request this tutor", new_tutorial_request_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>	
		</div>
	</div>
</div>		

<%= link_to t('write_a_review'), new_listing_review_path(@listing), class: "btn btn-primary" %>

<% if @reviews.blank? %>
	<h3>No reviews yet. Be the first to write one!</h3>
<% else %>
	<table class="table">
		<thead>
			<tr>
				<th class="col-md-3"></th>
				<th class="col-md-9"></th>
			</tr>
		</thead>

		<tbody>
			<% @reviews.each do |review| %>
				<tr>
					<td>
						<h4>
							<%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
						</h4>			
						<p><%= review.created_at.strftime("%-m/%-d/%y") %></p>			
					</td>
					<td>
						<div class="star-rating" data-score= <%= review.rating %> ></div>
						<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
					</tD>
				</tr>
			<% end %>
		</tbody>
	</table>	
<% end %>

<% if current_user == @listing.user %>
	<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>	
<%= link_to 'Back', listings_path, class: "btn btn-link" %>

<script>
$('.star-rating').raty({
	path: 'https://dl.dropboxusercontent.com/s/2ujeq5cjjbrnva0',
	'https://dl.dropboxusercontent.com/s/47b8b0is4ku9gji/star-on.png',

	readOnly: true,
	score: function() {
    	return $(this).attr('data-score');
  }
});
</script>