<div class="row">
	<div class="col-md-6">
		<div class="thumbnail">
		<%= image_tag @listing.image.url %>	
		</div>
	</div>	
	<div class="col-md-6">
		<h3><%= @listing.user.name %></h3>
		<p><%= "University: #{@listing.university}" %></p>
		<p><%= "Degree Subject: #{@listing.degree_subject}" %></p>
		<p><%= "Graduation Year: #{@listing.graduation_year}" %></p>
		<p><%= "Teaching Subject: #{@listing.teaching_subject}" %></p>				
		<p><%= "Location: #{@listing.location}" %></p>
		<p><%= "Tutorial Type: #{@listing.tutorial_type}" %></p>
		<p><%= "About Myself: #{@listing.about_myself}" %></p>
		<p><%= "Tutoring Approach: #{@listing.tutoring_approach}" %></p>
		<p><%= "Teaching Experience: #{@listing.teaching_experience}" %></p>		
		<p><%= "Extracurricular Interests: #{@listing.extracurricular_interests}" %></p>
		<p><%= number_to_currency(@listing.price) %></p>
		<p><%= @listing.description %></p>

	</div>
</div>

<% if current_user == @listing.user %>
	<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>	
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
