<%= form_for (@tutorial_request) do |f| %>
  <% if @tutorial_request.errors.any? %>
   <div id="error_explanation" class="alert alert-danger alert-dismissable"  >
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
 
      <h4><%= pluralize(@tutorial_request.errors.count, "error") %> prohibited this tutorial_request from being saved:</h2>

      <ul>
      <% @tutorial_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
<div class="row">
  <div class="col-md-6">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :level %><br>
    <%= f.text_field :level, class: "form-control" %>
  </div>
  
  <div class="col-md-6">
    <%= f.label :hourly_rate %><br>
    <%= f.text_field :rate, class: "form-control", placeholder: "pounds/ hr" %>
  </div>
  <div class="col-md-6">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>  
  <div class="col-md-6">
    <%= f.label :duration %><br>
    <%= f.text_field :duration, class: "form-control", placeholder: "hrs/ week" %>
  </div>
  <div class="col-md-6">
    <br>
    <%= f.text_field :notes, class: "form-control", placeholder: "weeks" %>
  </div>
  <div class="col-md-12">
    <%= f.label :notes %><br>
    <%= f.text_field :notes, class: "form-control" %>
  </div>
  <div class="col-md-12">
    <div class="actions">
      <br>
      <%= f.submit "Create Tutorial Request", class: "btn btn-success" %>
    </div>
  </div>
</div>
<% end %>
