<h1>Listing tutorial_requests</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Level</th>
      <th>Duration</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorial_requests.each do |tutorial_request| %>
      <tr>
        <td><%= tutorial_request.subject %></td>
        <td><%= tutorial_request.level %></td>
        <td><%= tutorial_request.duration %></td>
        <td><%= link_to 'Show', tutorial_request %></td>
        <td><%= link_to 'Edit', edit_tutorial_request_path(tutorial_request) %></td>
        <td><%= link_to 'Destroy', tutorial_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutorial request', new_tutorial_request_path %>
