<div class="centre">
  <h2>My Tutor History</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Student</th>
    <th class="center">Subject</th>
    <th class="center">Level</th>
    <th class="center">Duration</th>

  </tr>


  <% @tutorial_requests.each do |tutorial_request| %>
    <tr>
      <td class="center"><%= tutorial_request.student.name %></td>
      <td class="center"><%= tutorial_request.subject %></td>
      <td class="center"><%= tutorial_request.level %></td>
      <td class="center"><%= tutorial_request.duration %></td>
      <td class="center"><%= tutorial_request.created_at.strftime("%B %-d, %Y") %></td>     
    </tr>
  <% end %>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>