<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @tutorial_request.subject %>
</p>

<p>
  <strong>Level:</strong>
  <%= @tutorial_request.level %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @tutorial_request.duration %>
</p>

<%= link_to 'Edit', edit_tutorial_request_path(@tutorial_request) %> |
<%= link_to 'Back', tutorial_requests_path %>
