<div class="container">
    <div class="row"> 
      <%= form_tag search_tutors_path, method: :get, class: "center" do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "form-control" %>
        <%= submit_tag "Subject Search", name: nil, class: "btn btn-default" %>
      </p>
      <% end %>  
    </div>
  
  <div class="row">
    <div class="right"> 
          <%= link_to new_tutorial_request_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
          <i class="glyphicon glyphicon-plus"></i> <%= t('post_a_tutorial_request') %>
          <% end %>
    </div>
  </div>
    
  <div class="row">
            <!-- Category Search -->  
            <div class="col-md-2">                
                <p>Sort by</p>
                <p>University
                  <ul>
                     <li><%= link_to "Oxford", search_tutors_path({:university => '%Oxford%'}.merge(params)) %></li>
                                        
                     <li><%= link_to "Cambridge University", search_tutors_path({:university => 'Cambridge University'}.merge(params)) %></li>
                                        
                     <li><%= link_to "London University", search_tutors_path({:university => 'London University'}.merge(params)) %>  </li>
                  </ul>   

              </p>       

                <p>Curriculum<br>-Alevel<br>-IB<br>-PreU<br>-SAT<br>-University Entrance</p>
                <p>Rating<br>-At Least 5 stars<br>-At Least 4 stars<br>-At Least 3 stars</p>
                <p>Tutorial Type<br>-Online<br>-Meet in person</p>   
                <p>Location</p>             
            </div>

          <% @tutors.each do |tutor| %>
            
            <div class="col-md-2">
                <a href="/tutors/<%= tutor.id %>">
                    <div class="image-photo" style="background-image: url('<%= tutor.image.url %>'); width: 150px; background-size: 100%; height: 150px;">
                    </div>
                </a>
            </div>
            <div class="col-md-5">
              <h3><%= "#{tutor.user.first_name.capitalize} #{tutor.user.last_name.capitalize[0]}." %></h3>
              <p><%= t('university', university: tutor.university) %> &nbsp;|&nbsp; <%= t('degree_subject', degree_subject: tutor.degree_subject) %> &nbsp;|&nbsp; <%= t('location', location: tutor.location) %></p>  
              <p><%= truncate(tutor.about_myself, :length => 275) %></p>
                     
              <% if (user_signed_in?) && (current_user == tutor.user) %>
                <%= link_to 'Edit', edit_tutor_path(tutor), class: "btn btn-link" %>            
                <%= link_to 'Destroy', tutor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %> 
              <% end %>  
           </div>
           <div class="col-md-3">
              <%= link_to "Message", class: "btn btn-link" %> 

              <br>
              <%= link_to "Request this tutor", new_tutorial_request_path, class: "btn btn-primary" %>
           </div>    
           

        <% end %>
  </div><!-- end of row -->
  
<br>

<%= #will_paginate @tutors, renderer: BootstrapPagination::Rails 
%>

<br>

<% if user_signed_in? %> 
  <%= link_to new_tutorial_request_path, class: "btn btn-primary", data: { no_turbolink: true } do %> 
    <i class="glyphicon glyphicon-plus"></i> Post a Tutoial Request
  <% end %>
<% end %>

<div class="centre">
  <div class="fb-like" data-href="http://etsydemo-2016.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div>