<h1>Listing proposals</h1>
  <% @proposals.each do |proposal| %>
    <%
      @tutor = Tutor.find(proposal.tutor_id)
      @user = User.find(@tutor.user_id)
    %>
    <div class="proposal">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <div>
            <p>Teaching subject: <%= @tutor.teaching_subject %></p>
            <p>Location: <%= @tutor.location %></p>
        </div>

  
    
      <%= proposal.message %>
      <br>
      <h2><b>Accept Proposal</b></h2>
     
   
    </div>
  <% end %>
<br>

<!-- accept proposal = mark this proposal as successful and direct to payment authorization page -->


