<p id="notice"><%= notice %></p>

<p>
  <strong>Tutor:</strong>
  <%= @proposal.tutor_id %>
</p>

<p>
  <strong>Tutorial request:</strong>
  <%= @proposal.tutorial_request_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @proposal.message %>
</p>

<p>
  <strong>Success:</strong>
  <%= @proposal.success %>
</p>

<%= link_to 'Edit', '#' %> |
<%= link_to 'Back', '#' %>
